attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1683424013410/work
blinker @ file:///home/conda/feedstock_root/build_artifacts/blinker_1681349778161/work
Brotli @ file:///Users/runner/miniforge3/conda-bld/brotli-split_1687884292427/work
certifi==2023.7.22
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1688813409104/work
click @ file:///home/conda/feedstock_root/build_artifacts/click_1689279387612/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
contourpy @ file:///Users/runner/miniforge3/conda-bld/contourpy_1686734108934/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1635519461629/work
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1688381075899/work
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1686612785345/work
Flask @ file:///home/conda/feedstock_root/build_artifacts/flask_1682966527207/work
fonttools @ file:///Users/runner/miniforge3/conda-bld/fonttools_1689196932689/work
gmpy2 @ file:///Users/runner/miniforge3/conda-bld/gmpy2_1666808750085/work
h11 @ file:///home/conda/feedstock_root/build_artifacts/h11_1664132893548/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1663625384323/work
importlib-metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1688754491823/work
importlib-resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1689017639396/work
itsdangerous @ file:///home/conda/feedstock_root/build_artifacts/itsdangerous_1648147185463/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1654302431367/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1688155275339/work
kiwisolver @ file:///Users/runner/miniforge3/conda-bld/kiwisolver_1666805901953/work
lxml @ file:///Users/runner/miniforge3/conda-bld/lxml_1688564851452/work
MarkupSafe @ file:///Users/runner/miniforge3/conda-bld/markupsafe_1685769187476/work
matplotlib @ file:///Users/runner/miniforge3/conda-bld/matplotlib-suite_1688685044808/work
mpld3 @ file:///home/conda/feedstock_root/build_artifacts/mpld3_1670691928456/work
mpmath @ file:///home/conda/feedstock_root/build_artifacts/mpmath_1678228039184/work
munkres==1.1.4
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1680692919326/work
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1688887105127/work
outcome @ file:///home/conda/feedstock_root/build_artifacts/outcome_1655217710638/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1681337016113/work
pandas @ file:///Users/runner/miniforge3/conda-bld/pandas_1688740575873/work
Pillow @ file:///Users/runner/miniforge3/conda-bld/pillow_1675487305816/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1689538620473/work
pooch @ file:///home/conda/feedstock_root/build_artifacts/pooch_1679580333621/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1652235407899/work
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1661604839144/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
python-dotenv @ file:///home/conda/feedstock_root/build_artifacts/python-dotenv_1677227146928/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1680088766131/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1684774241324/work
scikit-learn @ file:///Users/runner/miniforge3/conda-bld/scikit-learn_1688116592562/work
scipy @ file:///Users/runner/miniforge3/conda-bld/scipy-split_1687995648049/work/base/dist/scipy-1.11.1-cp39-cp39-macosx_11_0_arm64.whl#sha256=96907c0df8a8b6c557093438ba275c5f69f863fb02dc1d67419ddf6cc461e850
selenium @ file:///home/conda/feedstock_root/build_artifacts/selenium_1686239887474/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
sniffio @ file:///home/conda/feedstock_root/build_artifacts/sniffio_1662051266223/work
sortedcontainers @ file:///home/conda/feedstock_root/build_artifacts/sortedcontainers_1621217038088/work
sympy @ file:///home/conda/feedstock_root/build_artifacts/sympy_1684180540116/work
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1689261241048/work
torch==2.0.1
torchvision==0.15.2
tornado @ file:///Users/runner/miniforge3/conda-bld/tornado_1684150430519/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1677948868469/work
trio @ file:///Users/runner/miniforge3/conda-bld/trio_1689211530133/work
trio-websocket @ file:///home/conda/feedstock_root/build_artifacts/trio-websocket_1686273269232/work/dist
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1688315532570/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1680081134351/work
unicodedata2 @ file:///Users/runner/miniforge3/conda-bld/unicodedata2_1667239959992/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1688005749963/work
webdriver-manager @ file:///home/conda/feedstock_root/build_artifacts/webdriver-manager_1681481087929/work
Werkzeug @ file:///home/conda/feedstock_root/build_artifacts/werkzeug_1686273693854/work
wsproto @ file:///home/conda/feedstock_root/build_artifacts/wsproto_1661356345548/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1689374466814/work
