.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* div {
  color: red;
} */

.stepBlock, .phasesBlock {
  height: 80%;
  width: 15%;
  text-align: center;
  vertical-align: center;
  background-color: #d0cdd1;
  /* display: flex;
  justify-content: center; */
  /* margin: 0.5rem; */
}

.phasesBlock {
  background-color: white;
  bottom: 0;
}

.stepBlock:hover {
  /* background-color: #755580; */
  cursor: pointer;
}

.navBar, .trainingPhase, .testingPhase {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  /* background-color: #d5d2d6; */
}

.navContainer {
  height: 5rem;
  align-items: center;
  
}

.onclickColor {
  background-color: #96aab5;
}

.stepDivBackground {
  background-color: #d0cdd1;
}

.phases {
  display: flex;
}

.onclickTextColor {
  color: #273e4a;
  text-decoration: underline;
}