.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* div {
  color: red;
} */

.stepBlock, .phasesBlock {
  height: 80%;
  width: 15%;
  text-align: center;
  vertical-align: center;
  background-color: #d0cdd1;
  padding-bottom: 1rem;
  /* display: flex;
  justify-content: center; */
  /* margin: 0.5rem; */
}

.stepBlock div {
  padding-top: 10%;
}

.phasesBlock {
  background-color: white;
  bottom: 0;
}

.stepBlock:hover {
  /* background-color: #755580; */
  cursor: pointer;
}

.navBar, .trainingPhase, .testingPhase {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  /* background-color: #d5d2d6; */
}

.navContainer {
  height: 5rem;
  align-items: center;
  
}

.onclickColor {
  background-color: #96aab5;
}

.stepDivBackground {
  background-color: #d0cdd1;
}

.phases {
  display: flex;
}

.onclickTextColor {
  color: #b5676e !important;
  text-decoration: underline;
}

table, td{
  /* width: 80%; */
  margin: auto;
  border: 1px solid black;
  border-collapse: collapse;
  margin-bottom: 10rem;
}

#row_div {
  width: 100%;
}

tr:hover {
  background-color: #b9c4c9;

}

th {
  background-color: #b9c4c9;
  border: 1px solid black;
  border-collapse: collapse;
  white-space: nowrap;
}

td, th {
  padding: 1rem;
}

#trainingText, #testingText {
  padding: 2rem;
  word-wrap: normal;
}

.phasesContainer {
  justify-content: space-evenly;
}

#trainingText {
  border-left: solid;
  border-width: 1rem;
  font-weight: bold;
  color: #ded9da;
  white-space: nowrap;
  /* border-top: solid; */

}
/* .phasesBlock, .phasesBar {
  border-top: solid;
} */

#testingText {
  border-left: solid;
  border-width: 1rem;
  font-weight: bold;
  color: #ded9da;
  white-space: nowrap;
}

.loading {
  /* height: 100%;
  width: 100%;
  margin: auto; */
  padding-top: 2rem;
  padding-left: 40%;
  color: #964d53
}

#hoverTip {
  display: none;
}

/* #column1:hover #tooltip1, #column2:hover #tooltip2, #column3:hover #tooltip3, #column4:hover #tooltip4 {
  display: block;
} */

#tooltip1, #tooltip2, #tooltip3, #tooltip4, #tooltipRow {
  display: none;
  border: none !important;
}

#column1 div, #column2 div, #column3 div, #column4 div {
  color: #964d53
}

#explanationStep2 {
  width: 80%;
  margin: auto;
  margin-top: 2rem;
}

.fileUpload {
  /* color:red */
  width: 100%;
  /* margin: auto; */
  text-align: center;
  /* vertical-align: center; */
  margin-top: 8%;
  height: 10rem;
  padding-top: 10%;
  border: 1px solid black;
}


.fileUpload input {
  display: none;
}

.fileUpload label {
  font-size: large;
  
}

.fileUpload label:hover {
  cursor: pointer;
}

.featuresContainer {
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 200px, 200px;
  gap: 2rem;
  text-align: center;
  overflow: auto;
  height: 25rem;
  margin-top: 5rem;
  /* border: 1px solid black; */
  margin-left: 25%;
}

.potentialList {
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 200px, 200px;
  gap: 2rem;
  text-align: center;
  overflow: auto;
  height: 25rem;
  margin-top: 5rem;
  border: 1px solid black;
  /* margin-left: 25%; */
}

.featureOption:hover {
  cursor: pointer;
}

.featureOption {
  height: 5rem;
  width: 8rem;
}

#header1Hover, #header2Hover, #header3Hover, #header4Hover {
  display: None;
}

.uploadButton {
  width: 100%;
  background-color: #d0cdd1;
  border: 0px;
  padding: 1rem;
  margin-top: 0.5rem;
  font-weight: bold;
}

.uploadButton:hover {
  cursor: pointer;
  
}

.tableContainer {
  width: 50rem;
  height: 60rem;
  overflow: scroll;
  margin-left: 1rem;
  border: 1px solid black;
  margin-top: 5rem;
  margin-right: 1rem;
}

body {
  overflow: scroll;
}

.displayNone {
  display: None;
}

.modelContainer {
  display: flex;
  justify-content: space-between;
}

.removedCombo {
  background-color: lightcoral;
}

.addedCombo {
  background-color: lightblue;
}

#step3_dsplay_button {
  margin-top: 5rem;
  margin-left: 40%;
}

.displayTrainingTable {
  display: flex;
  /* width: 80%; */
  /* margin-right: 0px; */
}

.step1explanations, .step7explanations {
  width: 50%;
  margin-left: 2rem;
  margin-right:2rem;
  margin-top: 15%;
}

.step3explanations {
  width: 50%;
  margin-top: 5rem;
  margin-left: 25%;
}

#step3selectedModelExplanation {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
  width: 30%;
}

.step4LassoButotn {
  margin-left: 2rem;
}

.featureSelectionContainer {
  /* dissfy-content: space-evenly; */
}

.featureSelectionExplanations {
  width: 80%;
  margin-left: 10%;
  margin-top: 2rem;
}

.step6explanation {
  margin-left: 20%;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.rashomonSetExplanation {
  margin-left: 10%;
  margin-top: 2rem;
}

#modelSelect {
  padding: 0.5rem;
  padding-top: 25%;
  text-align: center;
}

.step8explanations {
  margin-left: 20%;
  margin-bottom: 2rem;
}

#step4chart {
  display: None;
}

#displayChartButton {
  margin-top: 2rem;
  margin-left: 10%;
}

#displayChartButton button {
  margin-top: 1rem;
}